<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd

        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="edu.depaul.capstone.demo.rest.*" />

    <context:property-placeholder location="classpath:app.properties"/>

    <!-- ************ JPA configuration *********** -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <bean id="transactionManagerLegacy" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryLegacy" />
    </bean>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:config/persistence-demo.xml" />
        <property name="persistenceUnitName" value="demoRestPersistence" />
        <property name="dataSource" ref="restDemoDS" />
        <property name="packagesToScan" value="edu.depaul.capstone.demo.*" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
            </bean>
        </property>
    </bean>
    <bean id="entityManagerFactoryLegacy" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:config/persistence-demo.xml" />
        <property name="persistenceUnitName" value="demoRestPersistenceLegacy" />
        <property name="dataSource" ref="restDemoLegacyDS" />
        <property name="packagesToScan" value="edu.depaul.capstone.demo.*" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
            </bean>
        </property>
    </bean>

    <bean id="podcastDao" class="edu.depaul.capstone.demo.rest.dao.PodcastDaoJPA2Impl"/>
    <bean id="podcastService" class="edu.depaul.capstone.demo.rest.service.PodcastServiceDbAccessImpl" />
    <bean id="queryService" class="edu.depaul.capstone.demo.rest.service.QueryServiceImpl">
        <constructor-arg name="url" value="${app.socrata_url}"/>
        <constructor-arg name="user" value="${app.socrata_username}"/>
        <constructor-arg name="password" value="${app.socrata_password}"/>
        <constructor-arg name="token" value="${app.socrata_app_token}"/>
    </bean>
    <bean id="podcastsResource" class="edu.depaul.capstone.demo.rest.resource.podcast.PodcastsResource" />
    <bean id="podcastLegacyResource" class="edu.depaul.capstone.demo.rest.resource.podcast.PodcastLegacyResource" />
    <bean id="sodaResource" class="edu.depaul.capstone.demo.rest.resource.soda.SodaResource" />
    <bean id="versionService" class="edu.depaul.capstone.demo.rest.resource.manifest.ManifestService" />

    <bean id="restDemoDS" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="java:comp/env/jdbc/restDemoDB" />
        <property name="resourceRef" value="true" />
    </bean>
    <bean id="restDemoLegacyDS" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="java:comp/env/jdbc/restDemoLegacyDB" />
        <property name="resourceRef" value="true" />
    </bean>
</beans>